* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.navheader
{
  position: relative;
  height: 100vh;
  /* background-image: url('../Image/img-2.png'); */
  background-size: cover;
  background-position: center;
}
.nav-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.bg-dark-blur {
    background-color: rgba(104, 96, 96, 0.6);
  }
  
  /* Nav link pill styling */
  .nav-pill {
    color: white;
    background-color: transparent;
    border: none;
    margin: 0 10px;
    padding: 15px 20px;
    border-radius: 21px;
    font-size: 27px;
    cursor: pointer;
  }

  /* Hover effect */
  .nav-pill:hover {
 color:white;
 border-radius: 10px;
 background-color: rgb(41, 38, 38);
 padding: 10px 20px;
}


@media(min-width:320px) and (max-width:767px)
{
  .nav-pill
  {
    border-radius: none;
  }
  .container1
  {
    margin-top: -20%;
  }
}
@media(min-width:768px) and (max-width:1023px)
{
  .container1
  {
    margin-top: -20%;
  }
}

